body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 1000px;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialised;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

a {
  text-decoration: none;
}

header, footer {
  width: 100%;
  position: absolute;
  height: 35px;
  z-index: 1000;
}

header {
  top: 0;
}

.content-wrap {
  margin: 0 auto;
  position: relative;
  width: 1000px;
  box-sizing: border-box;
  overflow: hidden;
}

.content-wrap nav {
  float: left;
}

.content-wrap nav ul {
  margin: 0;
  padding: 0;
}

.content-wrap nav ul li {
  list-style-type: none;
  display: inline-block;
}

.content-wrap nav ul li a {
  font-size: 13px;
  color: #fff;
  padding: 0 17px;
  line-height: 35px;
}

.content-wrap .phone-wrap {
  float: right;
  text-align: right;
  margin-right: 17px;
}

.content-wrap .phone-wrap span {
  font-size: 14px;
}

.content-wrap .phone-wrap a {
  font-size: 9px;
  border-bottom: 1px #fff dashed;
  display: inline-block;
  margin: 0;
  color: #fff;
}

footer {
  text-align: center;
  bottom: 0;
}

footer span {
  line-height: 35px;
  font-size: 9px;
}

#main {
  position: relative;
  color: #fff;
  background-image: url("../img/main/main-bg.png");
  background-position: center;
  background-size: cover;
}

#main header, #main footer {
  background-image: url("../img/main/nav-bg.png");
}

#main .logo {
  position: absolute;
  top: 50%;
  margin-top: -165px;
  left: 50%;
  margin-left: -455px;
}

#main .tree {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#about-us {
  background-color: #181b35;
  background-image: url("../img/about-us/about-us-bg.png");
  background-position: top center;
  position: relative;
  color: #fff;
  min-width: 920px;
  background-size: 100%;
  background-repeat: no-repeat;
}

#about-us header, #about-us .about-info-wrap {
  background-image: url("../img/about-us/about-text-bg.png");
}

#about-us footer {
  background-color: #232741;
}

#about-us .about-logo {
  position: absolute;
  left: 0;
  top: 60px;
}

#about-us .about-info-wrap {
  padding: 30px 50px;
  margin: 550px auto 120px;
  width: 100%;
  box-sizing: border-box;
}

#about-us .about-info-wrap p {
  color: #fff;
  font-size: 16px;
}

#about-us .about-info-wrap h2 {
  color: #a2d6fd;
  font-size: 38px;
  margin: 45px 0;
  text-transform: uppercase;
}

#products {
  background-image: url("../img/products/products-bg.jpg");
}

#products .products-wrap {
  position: absolute;
  bottom: 18%;
  width: 100%;
  text-align: center;
}

#products .products-wrap .product {
  display: inline-block;
  position: relative;
  width: 12%;
  text-align: center;
}

#products .products-wrap .product a {
  color: #fff;
}

#products .products-wrap .product a img {
  width: 115%;
}

#products .products-wrap .product a h3 {
  font-size: 16px;
  font-weight: normal;
  width: 115%;
}

#polish {
  background-image: url("../img/products/products-bg.jpg");
}

.product-info-wrap {
  background-image: url("../img/description-bg.png");
  color: #fff;
  margin: 5% 0;
  padding: 30px 25px;
  box-sizing: border-box;
}

.product-info-wrap a {
  width: 190px;
  height: 27px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 27px;
  color: #fff;
  background-color: #be6e08;
  border-radius: 5px;
}

.product-info-wrap a img {
  margin-right: 8px;
}

.product-info-wrap h2 {
  text-align: center;
  font-size: 30px;
}

.product-info-wrap h3 {
  font-size: 24px;
  text-align: left;
}

.product-info-wrap .img-wrap {
  text-align: center;
}

.product-info-wrap table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.product-info-wrap table thead {
  background-color: #f39b00;
  color: #3d220b;
  text-align: left;
}

.product-info-wrap table td, .product-info-wrap table th {
  border: 1px #f39b00 solid;
  padding: 15px 40px;
}

.product-info-wrap p {
  line-height: 26px;
}

#products, #polish, #contacts, #gallery {
  background-position: center;
  position: relative;
  color: #fff;
  min-width: 920px;
  background-size: cover;
}

#products header, #polish header, #contacts header, #gallery header {
  background-image: url("../img/products/products-nav-bg.png");
}

#products footer, #polish footer, #contacts footer, #gallery footer {
  background-image: url("../img/products/products-footer-bg.png");
}

#contacts {
  background-image: url("../img/contacts/contacts-bg.jpg");
  background-position: center bottom;
  position: relative;
}

#contacts .bred-wrap {
  position: absolute;
  bottom: 19%;
  left: 23%;
  width: 15%;
  text-align: center;
}

#contacts .bred-wrap img {
  display: inline-block;
}

#contacts .bred-wrap .bred-1 {
  width: 58%;
  left: 0 !important;
  top: 36% !important;
}

#contacts .bred-wrap .bred-2 {
  width: 39%;
  top: 17% !important;
}

#contacts .bred-wrap .bred-3 {
  width: 75%;
  margin-top: -12px;
  top: 100% !important;
  left: 10% !important;
}

#contacts .left-cosmonaut, #contacts .right-cosmonaut {
  position: absolute;
}

#contacts .left-cosmonaut {
  left: 0;
  bottom: 0;
  width: 60%;
}

#contacts .right-cosmonaut {
  right: 1%;
  bottom: 5%;
  width: 50%;
}

#contacts .logo {
  margin-top: 50px;
}

#contacts .contacts-info-wrap {
  width: 695px !important;
  height: 563px;
  float: right;
  margin-top: 15%;
  background-image: url("../img/contacts/contacts-wrap-bg.png");
  padding: 30px !important;
  box-sizing: border-box;
  color: #fff;
  margin-bottom: 60px;
  overflow: hidden;
}

#contacts .contacts-info-wrap .contacts {
  width: 205px;
  display: inline-block;
  vertical-align: top;
}

#contacts .contacts-info-wrap .contacts p {
  line-height: 19px;
  margin: 0;
}

#contacts .contacts-info-wrap .contacts p span {
  width: 35px;
  height: 30px;
  display: inline-block;
  background-image: url("../img/contacts/operator-icons.png");
  background-repeat: no-repeat;
  vertical-align: middle;
}

#contacts .contacts-info-wrap .contacts p .ks {
  background-position: 0 0;
}

#contacts .contacts-info-wrap .contacts p .mts {
  background-position: 0 -31px;
}

#contacts .contacts-info-wrap .contacts p .life {
  background-position: 0 -56px;
}

#contacts .contacts-info-wrap .contacts p .it {
  background-position: 0 -86px;
}

#contacts .contacts-info-wrap .contacts .adress {
  margin-bottom: 30px;
}

#contacts .contacts-info-wrap .map-wrap {
  width: 400px;
  height: 215px;
  display: inline-block;
  vertical-align: top;
  background-color: #FFF;
}

#contacts .contacts-info-wrap form {
  width: 100%;
}

#contacts .contacts-info-wrap form .left-form-wrap {
  width: 240px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
}

#contacts .contacts-info-wrap form .left-form-wrap input {
  width: 100%;
  height: 27px;
  margin-bottom: 10px;
}

#contacts .contacts-info-wrap form textarea {
  width: 346px;
  height: 106px;
  display: inline-block;
  padding: 10px 0;
  box-sizing: border-box;
}

#contacts .contacts-info-wrap form input, #contacts .contacts-info-wrap form textarea {
  background-color: #FFF;
  border-radius: 5px;
  text-indent: 8px;
  border: none;
  font-size: 14px;
}

#contacts .contacts-info-wrap form .button-wrap {
  text-align: right;
  margin-top: 15px;
}

#contacts .contacts-info-wrap form .button-wrap button {
  color: #fff;
  background-color: #ec880a;
  opacity: 0.8;
  width: 130px;
  height: 27px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#contacts .jspContainer {
  width: 100% !important;
  height: 95% !important;
}

#contacts .jspPane {
  width: auto !important;
}

#contacts .jspVerticalBar {
  height: 95% !important;
  border: 1px #ec880a solid;
  background: transparent !important;
  width: 8px;
  padding: 0 1px;
  text-align: center;
  overflow: hidden;
}

#contacts .jspTrack {
  background: transparent !important;
}

#contacts .jspDrag {
  background: #ec880a;
  border-radius: 5px;
}

#contacts .pbWrapper {
  display: none !important;
}

#parket {
  background: url("../img/parket/gym-1.png") no-repeat center top, url("../img/parket/wood-texture.jpg");
  background-size: 100%, contain;
  position: relative;
  height: 670px;
}

#parket span {
  color: #fff;
}

#parket .floor-wrap {
  margin-top: 16%;
  width: 100%;
  text-align: center;
  position: absolute;
}

#parket .floor-wrap a {
  display: inline-block;
}

#parket .floor-wrap a span {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  background-image: url("../img/contacts/contacts-wrap-bg.png");
  border-radius: 5px;
  padding: 5px 15px;
  position: absolute;
}

#parket .floor-wrap a img {
  width: 100%;
}

#parket .floor-wrap .far-floor-wrap a {
  width: 19%;
}

#parket .floor-wrap .far-floor-wrap a span {
  margin-top: -30px;
}

#parket .floor-wrap .nigh-floor-wrap a {
  width: 27%;
}

#parket .floor-wrap .nigh-floor-wrap a span {
  margin-top: -20px;
  margin-left: 20px;
}

#main-products header, #parket header, #lentan-fix header {
  background-image: url("../img/main/nav-bg.png");
}

#main-products footer, #parket footer, #lentan-fix footer {
  background-color: #452b0e;
  color: #fff;
}

#main-products, #lentan-fix {
  background-image: url("../img/parket/wood-texture.jpg");
}

#main-products .gym, #lentan-fix .gym {
  width: 100%;
}

#main-products .switcher-wrap {
  min-height: 100px;
  text-align: center;
  margin-top: -30px;
}

#main-products .switcher-wrap .switcher {
  position: absolute;
  left: 50%;
  margin-left: -110px;
  z-index: 1500;
}

#main-products .switcher-wrap .switcher ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-products .switcher-wrap .switcher ul li {
  float: left;
}

#main-products .switcher-wrap .switcher ul li.active {
  display: block;
}

#main-products .switcher-wrap .switcher ul li.active .slide-1,
#main-products .switcher-wrap .switcher ul li:hover .slide-1 {
  background: url("../img/parket/swich-border-1.png") no-repeat top center;
}

#main-products .switcher-wrap .switcher ul li.active .slide-2,
#main-products .switcher-wrap .switcher ul li:hover .slide-2 {
  background: url("../img/parket/swich-border-2.png") no-repeat top center;
}

#main-products .switcher-wrap .switcher ul li.active .slide-3,
#main-products .switcher-wrap .switcher ul li:hover .slide-3 {
  background: url("../img/parket/swich-border-3.png") no-repeat top center;
}

#main-products .switcher-wrap .switcher ul li.active .slide-4,
#main-products .switcher-wrap .switcher ul li:hover .slide-4 {
  background: url("../img/parket/swich-border-4.png") no-repeat top center;
}

#main-products .switcher-wrap .switcher ul li.active span,
#main-products .switcher-wrap .switcher ul li:hover span {
  display: block;
  margin-top: -15px;
  color: #f19f00;
  font-weight: bold;
  text-align: left;
}

#main-products .switcher-wrap .switcher ul li .slide-1 {
  padding: 3px 0 0px 6px;
}

#main-products .switcher-wrap .switcher ul li .slide-2 {
  padding: 3px 0px 0 7px;
}

#main-products .switcher-wrap .switcher ul li .slide-3 {
  padding: 3px 7px 0 0;
}

#main-products .switcher-wrap .switcher ul li .slide-4 {
  padding: 3px 14px 0 0;
}

#main-products .switcher-wrap .switcher ul li span {
  display: none;
}

#main-products .switcher-wrap .switcher ul li a {
  display: block;
}

#main-products .content-wrap {
  min-height: 500px;
}

#main-products .wrapper {
  margin-top: -80px;
}

#main-products .tab-content {
  text-align: center;
  margin-bottom: 60px;
  padding-top: 55px;
}

#main-products .tabs-wrap {
  margin-top: 15px;
}

#main-products .tabs-wrap .tabs {
  width: 193px;
  position: absolute;
  z-index: 1000;
}

#main-products .tabs-wrap .tabs .tab {
  background-image: url("../img/parket/braun-button-bg.png");
  color: #fff;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  padding: 0 5px 0 15px;
  margin-bottom: 9px;
  border-radius: 5px;
  width: 100%;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
}

#main-products .tabs-wrap .tab-item {
  display: none;
}

#main-products .tabs-wrap .tab-item h3 {
  color: #fff;
  font-size: 22px;
}

#main-products .tabs-wrap .owl-carousel .owl-item img {
  width: auto;
  margin: 0 auto;
}

#main-products .tabs-wrap .owl-prev,
#main-products .tabs-wrap .owl-next,
#main-products .tabs-wrap .owl-prev:hover,
#main-products .tabs-wrap .owl-next:hover {
  width: 43px;
  height: 36px;
  background-image: url("../img/parket/controls.png");
  position: absolute;
  top: 36%;
  margin-top: -20px;
  border-radius: 0;
}

#main-products .tabs-wrap .owl-theme .owl-dots .owl-dot span {
  background: #593720;
  width: 15px;
  height: 15px;
  margin: 5px 3px;
}

#main-products .tabs-wrap .owl-theme .owl-dots .owl-dot.active span, #main-products .tabs-wrap .owl-theme .owl-dots .owl-dot:hover span {
  background: #d2831e;
}

#main-products .tabs-wrap .owl-prev {
  background-position: 0 0;
  left: 45px;
}

#main-products .tabs-wrap .owl-next {
  background-position: 42px 0;
  right: 45px;
}

#main-products .tabs-wrap .owl-theme .owl-controls .owl-nav [class*=owl-] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  opacity: 1;
  font-size: 0;
}

#main-products .tabs-wrap .tab-item:first-child {
  display: block;
}

#main-products .visual {
  margin: 0;
  padding: 0;
}

#main-products .visual .ball {
  position: absolute;
  z-index: 2000;
  top: 22%;
  left: 45%;
}

#main-products .visual .active, #main-products .visual .full_image {
  display: block;
}

#main-products .visual li {
  list-style-type: none;
  display: none;
}

#main-products .visual li .floor {
  position: absolute;
  top: 0;
  width: 100%;
}

.tab:hover {
  background: url("../img/parket/orange-button-bg.png") !important;
}

.tabs .active {
  background: url("../img/parket/button-arrow.png") no-repeat 97% center, url("../img/parket/orange-button-bg.png") !important;
}

.work-img-box .buttons-wrap {
  width: 110px;
  position: absolute;
  right: 0;
  top: 0;
}

.work-img-box a {
  height: 22px;
  line-height: 22px;
  background: url("../img/parket/orange-button-bg.png");
  color: #fff;
  display: block;
  margin-bottom: 12px;
  text-align: center;
  border-radius: 5px;
}

::-webkit-input-placeholder {
  color: #4f2812;
  font-size: 14px;
}

::-moz-placeholder {
  color: #4f2812;
  font-size: 14px;
}

:-moz-placeholder {
  color: #4f2812;
  font-size: 14px;
}

:-ms-input-placeholder {
  color: #4f2812;
  font-size: 14px;
}

#lentan-fix .product-wrap {
  margin-top: -31%;
}

#gallery {
  background-image: url("../img/gallery/gallery-bg.jpg");
}

#gallery #gallery-wrap {
  width: 625px;
  float: right;
  margin-right: 5%;
  margin-top: 5%;
}

#gallery #gallery-wrap img {
  margin: 4px;
}

#gallery .logo {
  position: absolute;
  left: 13%;
  top: 15%;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.scroll-pane {
  height: 563px;
  overflow: auto;
}

.scroll-pane:focus {
  outline: none;
}
